<ng-template #modalRestock let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Input stock amount for {{canToRestock.name}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="amount">Amount</label>
        <div class="input-group">
          <input type="number" min="1" id="paymentAmount" class="form-control text-currency" placeholder="0" name="restock" value="amount" #amount required>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="restock(amount.value)">Restock</button>
  </div>
</ng-template>

<div class="flex-gap d-flex">
  <div class="container">
    <div class="row justify-content-between gap-3 mb-3 align-items-end">
      <div *ngFor="let can of cans" class="col-width col-xl-3 mx-1 bg-white text-center p-2 rounded shadow-sm" id="can-{{can.id}}">
        <div class="d-flex flex-wrap flex-column align-items-center">
          <img src="./assets/images/{{can.imgName}}" />
          <p class="p-overflow mt-3 overflow-hidden" id="can-{{can.id}}-name" title="{{can.name}}">{{can.name}}</p>
          <p>Stock left: {{can.stock}}</p>
          <div class="d-flex flex-column w-100 gap-2 mt-auto ">
            <button (click)="select(can)" class="btn btn-primary text-uppercase">Select</button>
            <button (click)="openRestock(can, modalRestock)" class="btn btn-primary text-uppercase">Restock</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-cart [(selectedCan)]="selectedCan" [(count)]="count" [(earnedMoney)]="earnedMoney" [(ccPaymentsMade)]="ccPaymentsMade"  ></app-cart>
  </div>
</div>
