<ng-template #modalRestock let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Input stock amount for {{canToRestock.name}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="amount">Amount</label>
        <div class="input-group">
          <input type="number" min="1" id="paymentAmount" class="form-control text-currency" placeholder="1" name="restock" value="amount" #amount required>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="restock(amount.value)">Restock</button>
  </div>
</ng-template>

<div class="flex-gap d-flex">
  <div class="container">
    <div class="row justify-content-between g-3 mb-3">
      <div *ngFor="let can of cans" class="col-xxl-3 mx-1 bg-white text-center p-3 rounded shadow-sm" id="can-{{can.id}}">
        <img src="./assets/images/{{can.imgName}}" />
        <p class="fs-5 mt-3" id="can-{{can.id}}-name" title="{{can.name}}">{{can.name}}</p>
        <p>Stock left: {{can.stock}}</p>
        <div class="d-grid gap-2">
          <button (click)="select(can)" class="btn btn-primary text-uppercase">Select</button>
          <button (click)="openRestock(can, modalRestock)" class="btn btn-primary text-uppercase">Restock</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-cart [count]="count" [(selectedCan)]="selectedCan" ></app-cart>
  </div>
</div>
