img {
  width:180px;
  height: 180px;
}

.flex-gap {
    gap:1rem;
}

.p-overflow {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.col-width {
    width: 30%; 
}
