img {
    width: 80px;
    height: 80px;
}
.cart-size {
    width:400px;
}
/*.input-group {
    position: relative;
}

.currency-code {
  position: absolute;
}
*/
.text-currency {
  /*padding: 10px 20px;*/
}
