img {
    width: 60px;
    height: 60px;
}
.cart-size {
    width:300px;
}

.inner-cart-size {
    height: 380px;
}

.currency-code {
  position: absolute;
  margin-left: 1px;
  margin-top: 1px;
  z-index: 2;
}

.input-two {
  margin-left: 10px !important;
  margin-right: 10px;
}

.break {
  flex-basis: 100%;
}
