<ng-template #contentCash let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Pay By Cash</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="pcForm">
      <div class="mb-3">
        <label for="amount">Payment Amount (AUD): </label>
        <div class="input-group">
          <input type="number" min="{{selectedCan?.price ?? 0}}" step="0.01" id="paymentAmount" dirname="paymentAmount" class="form-control" value="2.89" placeholder="{{selectedCan?.price ?? 0}}" name="pa" formControlName="paymentAmount" #paymentAmount required>
        </div>
        <div class="text-danger" *ngIf="pcForm.get('paymentAmount')?.invalid && (pcForm.get('paymentAmount')?.dirty || pcForm.get('paymentAmount')?.touched)">
          Minimum value must be equal or greater than A${{selectedCan?.price ?? 0}}
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="payCash(paymentAmount.value)">Pay</button>
  </div>
</ng-template>

<ng-template #contentCard let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Pay By Cash</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Please tap card.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="payCard()">Tap</button>
  </div>
</ng-template>

<div class="cart-size sticky-top float-endh">
  <div class="inner-cart-size p-5 bg-white">
    <h3>Cart</h3>
    <div *ngIf="selectedCan" class="text-center">
      <div class="my-3">
        <div class="d-flex justify-content-between">
          <img src="./assets/images/{{selectedCan.imgName}}" />
          <p class="">{{selectedCan.name}}</p>
          <button (click)="removeSelectedCan()" class="btn btn-danger">Remove</button>
        </div>
      </div>
      <p>Total: A${{selectedCan.price}}</p>
      <div class="d-flex flex-wrap">
        <button (click)="open(contentCash)" class="btn btn-primary text-uppercase w-100 mb-2">Pay By Cash</button>
        <button (click)="open(contentCard)" class="btn btn-primary text-uppercase w-100">Pay By Card</button>
      </div>
    </div>
    <div class="my-3" *ngIf="!selectedCan">
      <p>No can selected. Select a can!</p>
    </div>
  </div>
  <app-tracker [count]="count" [earnedMoney]="earnedMoney" [ccPaymentsMade]="ccPaymentsMade"></app-tracker>
</div>
