img {
    width: 60px;
    height: 60px;
}
.cart-size {
    width:300px;
}

.inner-cart-size {
    height: 380px;
}
/*.input-group {
    position: relative;
}

.currency-code {
  position: absolute;
}
*/
.text-currency {
  /*padding: 10px 20px;*/
}

.currency-code {
  position: absolute;
  margin-left: 1px;
  margin-top: 1px;
  z-index: 2;
}
